
<div class="logo">
  <ion-img  src="../assets/Logo.png"></ion-img>
</div>

<div class="form">
<div class="end">
  <ion-button  shape="round"color="danger "  routerLink="/registre" >Registrese</ion-button>
</div>
    <ion-item class="input" lines="none">
      <ion-input  type="text" placeholder="Usuario"></ion-input>
    </ion-item>

    <ion-item class="input" lines="none">
      <ion-input type="text" placeholder="Contraseña"></ion-input>
    </ion-item>

    <ion-button expand="block" class="btn"  shape="round"color="danger ">Iniciar sesion</ion-button>

   <div class="text " routerLink="/olvido">Olvido Contraseña</div>
</div>


