<div class="logo">
  <ion-img  src="../assets/Logo.png"></ion-img>
</div>

<div class="form">
<div class="end">
  <ion-button  shape="round"color="danger "  routerLink="/login" >Volver</ion-button>
</div>
    <ion-item class="input" lines="none">
      <ion-checkbox>Correo</ion-checkbox>
    </ion-item>

    <ion-item class="input" lines="none">
      <ion-checkbox>Telefono      </ion-checkbox>
    </ion-item>

    <ion-button expand="block" class="btn"  shape="round"color="danger ">Enviar </ion-button>

   <div class="text">Ayuda </div>
</div>


