
<div class="logo">
  <ion-img  src="../assets/Logo.png"></ion-img>
</div>

<div class="form">
<div class="end">
  <ion-button  shape="round"color="danger " routerLink="/login">Volver</ion-button>
</div>
    <ion-item class="input" lines="none">
      <ion-input  type="text" placeholder="Correo"></ion-input>
    </ion-item>

    <ion-item class="input" lines="none">
      <ion-input type="text" placeholder="Telefono"></ion-input>
    </ion-item>

    <ion-item class="input" lines="none">
      <ion-input type="text" placeholder="Usuario"></ion-input>
    </ion-item>

    <ion-item class="input" lines="none">
      <ion-input type="text" placeholder="Contraseña"></ion-input>
    </ion-item>

    <ion-item class="input" lines="none">
      <ion-input type="text" placeholder="Confirmar Contraseña"></ion-input>
    </ion-item>

    <ion-button expand="block" class="btn"  shape="round"color="danger ">Registrar</ion-button>


</div>


